<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="OBA prototype">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volkswagen maar dan anders</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>

<nav>
  <ul>
    <li><a href="/"><img src="https://www.volkswagen.nl/Images/vw-pkw/logo__image.svg" alt="Home"></a></li>
    <li><a href="#">Occasions</a></li>
    <li><a href="#">Modellen</a></li>
    <li><a href="#">Service & Onderhoud</a></li>
    <li><a href="#">Private Lease</a></li>
    <li><a class="active" href="#">Elektrisch Rijden</a></li>
    <li><a href="#">Webshop</a></li>
    <li><a href="#">Zakelijk</a></li>
    <li><a href="#">Acties</a></li>
    <!-- <li><a href="#">Financieel</a></li>
    <li><a href="#">Stories</a></li>
    <li><a href="#">Contact</a></li> -->
  </ul>
</nav>
