<% include partials/header.ejs %>

<section class="hero-block">
  <div class="">
    <h1 class="">Elektrisch rijden voor iedereen.</h1>
    <h2 class="">Innovatief en duurzaam rijden bij Volkswagen.</h2>

    <a href="/detail">
      <span>Schrijf je in voor de nieuwsbrief</span>
    </a>
  </div>
</section>

<section>
  <h3>Direct naar:</h3>
<div class="group-b">
<a href="#"><div class="">
</div>
<span>Opladen</span></a>
<a href="#"><div class="">
</div>
<span>Onderhoud</span></a>
<a href="#"><div class="">
</div>
<span>Kosten</span></a>
<a href="#"><div class="">
</div>
<span>Zuinig rijden</span></a>
</div>
</section>


<section class="m-intro">
  <h2>Klaar voor de toekomst.</h2>
<p>Bij Volkswagen geven we vorm aan de wereld van morgen. Een wereld vol innovatie, duurzaamheid en comfort. Omdat de toekomst vandaag wordt bepaald, is een aantal vertrouwde Volkswagen modellen nu al compleet elektrisch. Maar we staan niet stil. Binnenkort introduceren we de auto’s van de toekomst: de ID. modellen. Volledig elektrisch, ontworpen met ongekende innovativiteit en oog voor design. Zo is de toekomst ineens een stuk dichterbij. Wij kunnen niet wachten, jij ook niet?</p>
</section>

<section class="m-intro">
  <h2>Hoe ver is Volkswagen met elektrisch rijden?</h2>
<div class="vid">
</div>
</section>

<section class="grid-layout">
  <h2 class="headers">Alles over elektrisch rijden.</h2>
<p class="sub-header">We vertellen je graag meer over de technieken, kosten en voordelen van een elektrische auto.</p>
</section>

<section class="proefrit">
  <div class="">
    <h2 class="headers">Zelf een elektrische Volkswagen ervaren?</h2>
    <p>Plan direct een proefrit in voor de e-up! of e-Golf en ontdek zelf hoe comfortabel rijden in een elektrische auto kan zijn.</p>
    <a class="prompt" href="#">Plan een proefrit</a>
</div>
</section>

<section class="huidig">
  <h2 class="headers">Modellen van nu.</h2>
<p class="sub-header">Wacht niet langer. Ga nu voor een 100% elektrische Volkswagen.</p>

<div class="dual-model-container">

<div class="">
<div class="teaser-media">
</div>
<div class="teaser-body">
<h3>e-Golf.</h3>
<p>Deze krachtige, 100% elektrische Golf heeft een tot wel 230 kilometer. Standaard luxe uitgerust, met onder andere parkeersensoren en navigatiesysteem 'Discover Pro'.</p>
<p><a class="prompt" href="#">Ontdek nu</a></p>
</div>
</div>

<div class="">
<div class="teaser-media">
<p class="meta-msg">Binnenkort weer verkrijgbaar.</p>
</div>
<div class="teaser-body">
  <h3>e-up!</h3>
  <p>Binnenkort weer verkrijgbaar. Deze volledig elektrische up! is de compacte stadsauto van Volkswagen. Daarnaast heeft de e-up! alle eigenschappen van de gewone up!: pittig, efficiënt en fraai.</p>
  <p><a class="prompt" href="#">Ontdek nu</a></p>
</div>
</div>

</div>
</section>

<section class="toekomst lazy">
  <h2 class="headers"> Modellen van de toekomst.</h2>
<p class="sub-header">Benieuwd naar de innovatieve, 100% elektrische Volkswagens? Ontmoet de ID. Family.</p>
<div class="toekomst-container">

<div class="">
  <div class="toekomst-media">

  </div>
<div class="toekomst-body">
<h3>ID.</h3>
<p>Compleet, compact, comfortabel. De ID. hatchback verwelkomen we in 2020 als eerste model van de nieuwe electrische generatie.</p>
<p><a class="prompt" href="#">Ontdek nu</a></p>
</div>
</div>

<div class="">
  <div class="toekomst-media">

  </div>
<div class="toekomst-body">
<h3>ID. BUZZ.</h3>
<p>De Volkswagen klassieker heruitgevonden. Het herkenbare design en de vele rijfuncties maken de ID. BUZZ een elektrisch icoon.</p>
<p><a class="prompt" href="#">Ontdek nu</a></p>
</div>
</div>

<div class="">
  <div class="toekomst-media">

  </div>
<div class="toekomst-body">
<h3>ID. CROZZ.</h3>
<p>Een sportieve SUV met vierwielaandrijving, steminteractie en een Augmented Reality head-up display. Dat is de ID. CROZZ.</p>
<p><a class="prompt" href="#">Ontdek nu</a></p>
</div>
</div>

<div class="">
  <div class="toekomst-media">

  </div>
<div class="toekomst-body">
<h3>ID. VIZZION.</h3>
<p>Het topmodel van de nieuwe elektrische modellen. De ID. VIZZION reageert op de commando's die jij met je stem en gebaren geeft.</p>
<p><a class="prompt" href="#">Ontdek nu</a></p>
</div>
</div>

</div>
</section>


<section class="e-40 lazy">
  <div class="">
    <h2 class="headers">40 jaar electrisch rijden</h2>
<p>Elektrisch rijden een hype van de laatste tijd? Wij laten zien van niet. De afgelopen vier decennia zijn we al bezig met het ontwikkelen van elektrische Volkswagens.</p>
<a class="prompt" href="#">Lees het hele artiekel</a>
<p><a href="#">Bekijk alle e-Stories</a></p>
</div>
</section>

<section class="questions lazy">
  <h2 class="headers">Veelgestelde vragen.</h2>
<div class="">
  <h3>Is elektrisch rijden duurder dan rijden in een benzine- of dieselauto?</h3>
  <p class="hidden">Hoewel de aanschafkosten van een elektrische auto op dit moment nog hoger zijn dan bij een reguliere brandstofauto, bespaar je met elektrisch rijden op andere vlakken. Zo profiteer je van veel belastingvoordeel, minder bijtelling en minder onderhoudskosten. Ook betaal je geen wegenbelasting en BPM. Meer weten over de kosten van een elektrische auto? We vertellen het je graag.</p>
</div>

<div class="">
  <h3>Wanneer begint de productie van de ID. modellen?</h3>
  <p class="hidden">In 2020 start de productie van de eerste ID. modellen: de ID. NEO en ID. CROZZ. De jaren erna breiden we ons modellenaanbod uit met de andere modellen.</p>
</div>

<div class="">
  <h3>Wat zijn de voordelen van elektrisch rijden?</h3>
  <p class="hidden">Elektrisch rijden heeft verschillende voordelen, voor het milieu én voor jou. Zo stoot een elektrische auto geen CO2 en stikstof uit tijdens het rijden, wat een stuk schoner en duurzamer is. Maar ook voor je portemonnee kan een elektrische auto voordelig zijn. Zo maak je als eigenaar van een elektrische auto gebruik van verschillende fiscale voordelen én heb je te maken met lagere onderhoudskosten.</p>
</div>

</section>

<section class="inf lazy">
  <div class="">
    <div class="">
    </div>
<h3>Meer weten?</h3>
<p>Schrijf je dan direct in voor de speciale Elektrisch Rijden-nieuwsbrief.</p>
<p><a class="prompt" href="#">Nu inschrijven</a></p>
</div>

<div class="">
  <div class="">
  </div>
<h3>Stel samen</h3>
<p>Geïnteresseerd in een e-Golf of e-up?</p>
<p><a class="prompt" href="#">Naar configurator</a></p>
</div>

<div class="">
  <div class="">
  </div>
<h3>Dealer zoeken</h3>
<p>Neem contact op met je dealer om een proefrit te plannen.</p>
<p><a class="prompt" href="#">Zoek dealer</a></p>
</div>
</section>
<% include partials/footer.ejs %>
