<% include partials/header.ejs %>

<section class="hero-block offline">
  <div class="">
    <h1 class="">Je bent offline.</h1>
    <h2 class="">Probeer later de pagina te verversen.</h2>

    <a href="/">
      <span>Herlaad de pagina</span>
    </a>
  </div>
</section>

<% include partials/footer.ejs %>
